.container {
  text-align: center;
  margin-top: 18vh;
}

table {
  margin: auto;
}

#screen {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 21px;
  border: 5px solid #244624;
  font-size: 34px;
  height: 65px;
  width: 456px;
}

.input {
  border-radius: 20px;
  font-size: 40px;
  background: #978fa0;
  width: 102px;
  height: 90px;
  margin: 6px;
}
.clear {
  border-radius: 20px;
  font-size: 40px;
  background: #978fa0;
  width: 102px;
  height: 90px;
  margin: 6px;
}
.enter {
  border-radius: 20px;
  font-size: 40px;
  background: #978fa0;
  width: 102px;
  height: 90px;
  margin: 6px;
}

h1 {
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}
